<body class="body-user" >
<br><br><br>
<div class="container mb-5" style="">
<div class="row">

{{#if userInSession}}
<div class="col-md-10" style="border: 1px solid rgba(0,0,0,0.2);border-radius: 5px; padding: 20px">
  <h2 class="text-white">Welcome, {{ userInSession.username }}!</h2>
  <p class="mt-4 text-white"><i class="fa fa-envelope" aria-hidden="true"></i> GMail: <span style="color:rgba(255,255,255,0.8)">{{userInSession.email}}</span></p>
  <img src="{{userInSession.profilePic}}" width="200px" height="200px" style="border-radius: 50%;">
  <br><br>
<form action="/auth/updatePhoto" method="post" enctype="multipart/form-data">
  <input type="file" name="profilePic">
  <button type="submit" class="btn " style="background-color: #fe8ab8; border: none">Update</button>
</form>

  <hr>
    {{#each posts}}

    <div class="card shadow mb-3" style="width: 18rem;">
 
  <div class="card-body ">
    <h5 class="card-title">{{name}}</h5>
    <p>{{author.username}}</p>
    <p class="card-text">{{extract}}</p>
    <a href="/post/{{_id}}" class="btn btn-primary" style="background-color: #dc5cb7; border: none">View More</a>
  </div>
</div>
     
    {{/each}}
 
  </div>

  
{{/if}}

<div class="col-md-2">
<form action="/auth/logout" method="get" class="mb-2">
 <button class="btn btn-danger" style="background-color: #dc5cb7; border: none">Salir de session <i class="fa fa-times" aria-hidden="true"></i></button>
</form>
<a href="/" class="btn btn-primary" style="background-color: #a5b0cb; border: none">Home Page <i class="fa fa-home" aria-hidden="true"></i></a>
<a href="/post/post" class="btn btn-primary mt-2" style="background-color: #fe8ab8; border: none">All Post <i class="fa fa-folder" aria-hidden="true"></i></a>
<a href="/post/create" class="btn btn-primary mt-2" style="background-color: #fe8ab8; border: none">Create Post <i class="fa fa-folder-open" aria-hidden="true"></i></a>

</div>
  </div>
</div>
</div>
</div>
<br><br><br>
  
</body>
